<!--Header File Linkage-->

<%- include("partials/header.ejs") %>

<!--Main Content--><div class="hero">
        <div class="hero-last">
            <div class="hero-text">
                PM-Internship Guidance Portal
            </div>
            <div class="hero-text2" >Find Internship with AI</div>
        </div>
        <div class="hero-blocks">
            <div class="block1">
                <div class="block1-text" style="font-weight:400"> Create Your Profile </div>
                <div class="block1-logo" ><i class="fa-regular fa-circle-user"></i></div>
                <div class="block1-button"><button style="font-family:'Times New Roman', Times, serif">Create</button></div>
            </div>
            <div class="block2">
                <div class="block2-text">AI-Based Internships</div>
                <div class="block2-logo" ><i class="fa-solid fa-tower-broadcast"></i></div>
                <div class="block2-button"><button style="font-family:'Times New Roman', Times, serif">Explore</button></div>
            </div>
            <div class="block3">
                <div class="block3-text">Find Roadmaps </div>
                <div class="block3-logo" ><i class="fa-solid fa-route"></i></div>
                <div class="block3-button"><button style="font-family:'Times New Roman', Times, serif">Ask AI</button></div>
            </div>
        </div>
    </div>
<div>

</div>

<!--Footer File Linkage--><footer>
       
    </footer>
<%- include("partials/footer.ejs") %>