.navbar{
    display:flex;
    background-color:#081c15;
}
.navbar-2{
    position:absolute;
    right:154px;
    color:white;
}
.navbar-below{
    height:40px;
    background-color:#1c372c;
}
.dropdown{
    background-color:#1c372c;
}
.btn dropdown-toggle{
    background-color:#dee6e2;
}
.below-button{
    position:absolute;
    left:0px;
}
.dropdown-item{
    color:black;
}
.hero{
    height:600px;
    background-image:url("hero3.jpg");
    background-size:cover;
}
.hero-last{
    display:flex;
    justify-content:center;
}
.hero-text{
    color:white;
    font-size:70px;
    font-weight:700;
    font-family:'Times New Roman', Times, serif;

}
.hero-text2{
    position:absolute;
    top:180px;
    color:white;
    font-size:25px;
    font-weight:1200;
     font-family:'Times New Roman', Times, serif;
}
.hero-blocks{
    height:600px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    
}
.block1{
    height:300px;
    width:250px;
    background-color:rgb(223, 254, 234);
    border:none;
    border-radius:9px;
    background-image:url("block11.jpg");
    background-size:cover;
    transition:transform 0.3s ease;
}
.block2{
    height:300px;
    width:250px;
    background-color:white;
    border:none;
    border-radius:6px;
    background-image:url("block2-1.jpg");
    background-size:cover;
    transition:transform 0.3s ease;
}
.block3{
    height:300px;
    width:250px;
    background-color:white;
    border:none;
    border-radius:6px;
    background-image:url("block3-2.jpg");
    background-size:cover;
    transition:transform 0.3s ease;
}

.block2:hover{
    transform:translateZ(50px);
    transform:translateY(-10px);
}
.block3:hover{
    transform:translateZ(50px);
    transform:translateY(-10px);
}
.block1:hover{
    transform:translateZ(50px);
    transform:translateY(-10px);
}
.block1-text{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    font-weight:400;
    text-align:center;
    position:relative;
    top:15px;
}
.block1-logo {
    font-size:140px;
    text-align:center;
    color:black;

}
.block2-text{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    font-weight:400;
    text-align:center;
    position:relative;
    top:15px;
}
.block3-text{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    font-weight:400;
    text-align:center;
    position:relative;
    top:15px;
}
.block1-button{
    display:flex;
    justify-content:center;
}
.block2-logo {
    font-size:140px;
    text-align:center;
    color:black;
}
.block3-logo {
    font-size:140px;
    text-align:center;
    color:black;
}
.block2-button{
    display:flex;
    justify-content:center;
}
.block3-button{
    display:flex;
    justify-content:center;
}
.footer1{
    display:flex;
    justify-content:center;
    background-color:#1c372c;
    height:60px;
    color:white;
    align-items:center;
}
.footer2{
    height:150px;
    background-color:#081c15;

}